{{#each deliveryList}}
        <div class="tp-card">
                {{> molecules/orderDetail/orderdeliverysummary/orderdeliverysummary  i18nKeys=../i18nKeys}}
                <div class="tp-order-detail__table-wrapper">
                        {{> molecules/table/table baseClass="tp-order-detail" jsClass="js-order-detail" list=products headings=../tableHeadings}}
                </div>
                {{#unless ../isPackmat}}
                        <table class="tp-order-detail__product-summary ml-auto">
                                <tr>
                                        <td>{{../i18nKeys.totalWeightLabel}}</td>
                                        <td>{{totalWeight}}</td>
                                </tr>
                                <tr>
                                        <td>{{../i18nKeys.totalPricePreVatLabel}}</td>
                                        <td>{{totalPricePreVAT}}</td>
                                </tr>
                                <tr>
                                        <td class="semi-bold">{{../i18nKeys.totalVatLabel}}</td>
                                        <td>{{totalVAT}}</td>
                                </tr>
                        </table>
                {{/unless}}
        </div>
{{/each}}
<div class="modal tp-modal tp-order-detail__packaging-modal js-order-detail__packaging-modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered tp-modal-dialog" role="document">
                <div class="modal-content tp-modal-content">
                        {{> molecules/modals/modalHeader/modalHeader title=i18nKeys.kpkPopUpHeading closeBtnText=i18nKeys.kpkPopUpCloseBtnText}}
                        <div class="modal-body tp-modal-body tp-order-detail__packaging-modal-body">
                                <div class="tp-order-detail__packaging-modal-desc">{{i18nKeys.kpkPopUpDescription}}</div>
                        </div>
                </div>
        </div>
</div>
