{{#each deliveryList}}
        {{#unless ../paginateData}}
        <div class="tp-card js-delivery-{{this.deliveryNumber}}">
        {{/unless}}
                {{> molecules/orderDetail/orderdeliverysummary/orderdeliverysummary  i18nKeys=../i18nKeys}}
                <div class="tp-order-detail__table-wrapper">
                        {{> molecules/table/table baseClass="tp-order-detail" jsClass="js-order-detail" list=products headings=../tableHeadings}}
                </div>
                {{#unless ../isPackmat}}
                        <div class="tp-order-detail__product-footer">
                                <table class="tp-order-detail__product-summary ml-auto">
                                        <tr>
                                                <td>{{../i18nKeys.totalWeightLabel}}</td>
                                                <td>{{totalWeight}}</td>
                                        </tr>
                                        <tr>
                                                <td>{{../i18nKeys.totalPricePreVatLabel}}</td>
                                                <td>{{totalPricePreVAT}}</td>
                                        </tr>
                                        <tr>
                                                <td class="semi-bold">{{../i18nKeys.totalVatLabel}}</td>
                                                <td>{{totalVAT}}</td>
                                        </tr>
                                </table>
                                {{#if totalPages}}
                                        <div class="tp-order-detail__pagination js-pagination-multiple js-pagination-{{this.deliveryNumber}}" data-current-page="{{#if ../pageNumber}}{{../pageNumber}}{{else}}1{{/if}}" data-total-pages="{{totalPages}}" data-delivery-no="{{this.deliveryNumber}}" data-target=".js-delivery-{{this.deliveryNumber}}" aria-live="polite">
                                        </div>
                                {{/if}}
                        </div>
                {{/unless}}
        {{#unless ../paginateData}}
        </div>
        {{/unless}}
{{/each}}
