<div class="pw-carousel__tabContent tab-content">
  <div class="pw-carousel__tabPane tab-pane show active">
    {{#if this.practiceTitle}}
      <div class="pw-carousel__tabPane__img d-flex">
        <img src="{{this.practiceImagePath}}" alt="{{this.practiceImageAltI18n}}">
      </div>
      <div class="pw-carousel__tabPane__text">
        <h3>{{this.practiceTitle}}</h3>
        <p>{{this.vanityDescription}}</p>
        {{> atoms/button-text this}}
      </div>
    {{else}}
      <h3 class="text-center">No Matching Best Practice Line Found</h3>
    {{/if}}
  </div>
</div>
