<div>
    {{#if this.name}}<div class="pw-find-my-office__form-group__address__office-name">
        <h4>{{this.name}}</h4>
    </div>{{/if}}
    {{#if this.address}}<p class="pw-find-my-office__form-group__address__office-address">
        {{this.address}}
    </p>{{/if}}
    {{#if this.phoneNumber}}<div class="pw-find-my-office__form-group__address__office-phone-number">
        <p class='pw-find-my-office__form-group__address__office-phone-number__label'>Phone</p>
        <p>{{this.phoneNumber}}</p>
    </div>{{/if}}
    {{#if this.fax}}<div class="pw-find-my-office__form-group__address__office-phone-number">
        <p class='pw-find-my-office__form-group__address__office-phone-number__label'>Fax</p>
        <p>{{this.fax}}</p>
    </div>{{/if}}
    {{#if this.localSiteUrl}}<a class='pw-find-my-office__form-group__address__office-site' target="_blank"
        href="{{this.localSiteUrl}}">${"goToLocalSite" @i18n}</a>{{/if}}
</div>
