<div class="pw-product-card-grid">
  {{#each this}}
    <div class="pw-product-card-grid__item">
      <img class="pw-product-card-grid__item__image" src="{{productImage}}" alt="{{imageAltText}}">
      <h4 class="pw-product-card-grid__item__title">{{title}}</h4>
      <p class="pw-product-card-grid__item__description">{{description}}</p>
      <a class="pw-product-card-grid__item__link" href="{{linkPath}}" title="{{linkText}}">{{linkText}} <i class="icon-Circle_Arrow_Right"></i></a>
    </div>
  {{/each}}
</div>