<div class="{{#if baseClass}}{{baseClass}}-{{/if}}info-data">
    <div class="{{#if baseClass}}{{baseClass}}-{{/if}}info-title"> {{i18n key=label}} </div>
    <div class="{{#if baseClass}}{{baseClass}}-{{/if}}info-text"> {{data}} </div>
</div>
