<div class="{{#if baseClass}}{{baseClass}}-{{/if}}info-data">
    <div class="{{#if baseClass}}{{baseClass}}-{{/if}}info-title"> {{label}} </div>
    <div class="{{#if baseClass}}{{baseClass}}-{{/if}}info-text"> {{data}} </div>
</div>
