<a href="{{this.practicePath}}" class="tpatom-button tpatom-button--{{#if this.variant}}{{this.variant}}{{else}}primary{{/if}} {{this.customClasses}}" title="{{this.ctaTexti18nKey}}">
  {{this.ctaTexti18nKey}}
  <i class="tpatom-button__icon {{#if_eq this.variant 'link'}}icon-Circle_Arrow_Right{{else}}icon-Chevron_Right{{/if_eq}}"></i>
</a>
