<div class="tpmol-support-center">
    <div class="tpmol-support-center__icon float-lg-left">
        <i class="icon-TetraPak"></i>
    </div>
    <div class="tpmol-support-center__info text-left">
        <div class="tpmol-support-center__info-heading">{{i18n key=title}}</div>
        <a href="mailTo:{{supportEmail}}">{{supportEmail}}</a>
        <div><a href="tel:{{supportContact}}" class="tpmol-support-center__info-contact">{{supportContact}}</a></div>
    </div>
</div>
