{{!-- Generic button atom for settings --}}
<button type="button" class="tpatom-settings{{#if baseClass}} {{baseClass}}__settings{{/if}}{{#if jsClass}} {{jsClass}}__settings{{/if}}">
    <i class="tpatom-settings__icon{{#if baseClass}} {{baseClass}}__settings__icon{{/if}} icon icon-Cog"></i>
    <span class="tpatom-settings__label{{#if baseClass}} {{baseClass}}__settings__label{{/if}} sr-only">{{label}}</span>
</button>
