<div class="orderdeliverysummary__address">
   <p class="orderdeliverysummary__address-label">{{i18n key=this.addressLabel}}:</p>
   <p>{{i18n key=this.data.name}}</p>
   <p>{{i18n key=this.data.name2}}</p>
   <p>{{i18n key=this.data.city}},{{i18n key=this.data.postalcode}} {{i18n key=data.country}}</p>
</div>
