<table class="tpmol-table {{baseClass}} {{jsClass}}">
    {{#if headings}}
    <thead class="tpmol-table__head {{baseClass}}__head {{jsClass}}__head">
        <tr class="tpmol-table__rowheading {{baseClass}}__row {{baseClass}}__rowheading {{jsClass}}__rowheading">
            {{#each headings}}
            <th data-key="{{key}}" class="tpmol-table__cellheading {{#if isSortable}}sortable {{/if}}{{../baseClass}}__cell {{../baseClass}}__cellheading {{../jsClass}}__cellheading {{../jsClass}}__cellheading--{{@index}}">
                {{#if isSortable}}
                <button type="button" class="tpmol-table__sort {{#if isSortable}}{{sortOrder}} icon-Chevron_Down {{/if}}{{../baseClass}}__sort {{../jsClass}}__sort" data-key="{{key}}">
                    {{i18n key=i18nKey}}
                </button>
                {{else}}
                {{i18n key=i18nKey}}
                {{/if}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{/if}}
    {{#if list}}
    <tbody class="tpmol-table__body {{baseClass}}__body">
        {{#each list}}
        <tr class="tpmol-table__row {{../baseClass}}__row {{../jsClass}}__row {{../jsClass}}__row--{{@index}}">
            {{#each this}}
            <td data-key="{{key}}" class="tpmol-table__cell {{../../baseClass}}__cell {{../../jsClass}}__cell {{../../jsClass}}__cell--{{@index}}">
                {{#if isRTE}}
                    {{rte value}} {{!-- Renders safe HTML --}}
                {{else}}
                    {{value}}
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
    {{/if}}
</table>
