<table
    class="tpmol-table{{#if baseClass}} {{baseClass}}__table{{/if}}{{#if jsClass}} {{jsClass}}__table{{/if}}"
    {{#eachData this}}
        {{@key}}="{{this}}"
    {{/eachData}}>
    {{#if headings}}
    <thead class="tpmol-table__head{{#if baseClass}} {{baseClass}}__head{{/if}}{{#if jsClass}} {{jsClass}}__head{{/if}}">
        <tr class="tpmol-table__rowheading{{#if baseClass}} {{baseClass}}__row {{baseClass}}__rowheading{{/if}}{{#if jsClass}} {{jsClass}}__rowheading{{/if}}">
            {{#each headings}}
            <th data-key="{{key}}" class="tpmol-table__cellheading {{#if isSortable}}sortable {{/if}}{{#if ../baseClass}} {{../baseClass}}__cell {{../baseClass}}__cellheading{{/if}}{{#if jsClass}}  {{../jsClass}}__cellheading {{../jsClass}}__cellheading--{{@index}}{{/if}}">
                {{#if isSortable}}
                <button type="button" class="tpmol-table__sort clearfix{{#if isSortable}} {{sortOrder}}{{/if}}{{#if ../baseClass}} {{../baseClass}}__sort{{/if}}{{#if ../jsClass}} {{../jsClass}}__sort{{/if}}" data-key="{{key}}">
                    <span>{{i18n key=i18nKey}}</span>
                    <i class="icon icon-Chevron_Down"></i>
                </button>
                {{else}}
                {{i18n key=i18nKey}}
                 {{#if iconClassName}}
                    <i class="icon {{iconClassName}}"></i>
                 {{/if}}
                {{/if}}
            </th>
            {{/each}}
        </tr>
    </thead>
    {{/if}}
    {{#if list}}
    <tbody class="tpmol-table__body{{#if baseClass}} {{baseClass}}__body{{/if}}">
        {{#each list}}
        <tr {{#if rowLink}}tabindex=0 role="link" href="{{rowLink}}"{{else}}{{#if isClickable}}tabindex=0{{/if}}{{/if}} class="tpmol-table__row{{#if ../baseClass}} {{../baseClass}}__row{{/if}}{{#if isClickable}}{{#if ../jsClass}} {{../jsClass}}__row {{../jsClass}}__row--{{@index}}{{/if}}{{/if}}">
            {{#each this.row}}
            <td data-key="{{key}}" class="tpmol-table__cell{{#if ../../baseClass}} {{../../baseClass}}__cell{{/if}}{{#if ../../jsClass}} {{../../jsClass}}__cell {{../../jsClass}}__cell--{{@index}}{{/if}}">
                {{#if isRTE}}
                    {{rte value}} {{!-- Renders safe HTML --}}
                {{else}}
                    {{value}}
                {{/if}}
            </td>
            {{/each}}
        </tr>
        {{/each}}
        {{#if tableSummary}}
            {{#each headings}}
                {{#if @last}}
                    <tr>
                        <td colspan="{{../headings.length}}" class="tpmol-table__cell{{#if ../baseClass}} {{../baseClass}}__cell {{../baseClass}}__table-summary{{/if}}{{#if ../jsClass}} {{../jsClass}}__cell {{../jsClass}}__cell--{{@index}}{{/if}}">
                            {{../tableSummary}}
                        </td>
                    </tr>
                {{/if}}
            {{/each}}
        {{/if}}
    </tbody>
    {{/if}}
</table>
