{{!-- Generic button to handle all button types --}}
<button
    type="{{#if buttonType}}{{buttonType}}{{else}}button{{/if}}"
    class="tpatom-btn{{#if modifier}} tpatom-btn--{{modifier}}{{/if}}{{#if baseClass}} {{baseClass}}{{/if}}{{#if jsClass}} {{jsClass}}{{/if}}{{#if className}} {{className}}{{/if}}"
    {{#if disabled}}
        disabled
    {{/if}}
    {{#eachData this}}
        {{@key}}="{{this}}"
    {{/eachData}}>
        {{#if preIconClass}}
            <i class="icon {{preIconClass}}"></i>
        {{/if}}
        <span class="tpatom-btn__text{{#if hideText}} sr-only{{/if}}{{#if baseClass}} {{baseClass}}__text{{/if}}">{{i18n key=text}}</span>
        {{#if iconClass}}
            <i class="icon {{iconClass}}"></i>
        {{/if}}
</button>
