<!DOCTYPE html>
<html lang="en">
<sly data-sly-use.{{fsdId}}Model="ux-model.js" data-sly-use.lib="/apps/customerhub/components/content/{{fsdId}}/{{fsdId}}-template.html" />
<sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}">
    <head>
        <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="template" content="demoTemplate">
        <meta name="pageType" content="GenericPageType">
        <title>{{fsdId}} Component</title>
        <sly data-sly-call="${clientLib.css @ categories='tp.customerhub.vendor'}" />
        <sly data-sly-call="${clientLib.css @ categories='tp.customerhub.default.en'}" />
    </head>
</sly>

<body>
    {{!-- Body --}}
    <input type="hidden" id="isDummyLayout" value="true" />
    <input type="hidden" id="apiHost" value="https://api-mig.tetrapak.com" />
    <input type="hidden" id="currencyMappingURL" value="/apps/settings/wcm/designs/customerhub/jsonData/currency_symbol.json" />
    <input type="hidden" id="tempCustomerList" value="0000953003,0000011902" />
    <input type="hidden" id="siteImproveScript" name="siteImproveScript" value="//se1.siteimprove.com/js/siteanalyze_72177.js" />

    <input type="hidden" id="apiMappings" value="{
        &quot;token-generator&quot;:&quot;/bin/customerhub/token-generator&quot;,
        &quot;ordersearch&quot;:&quot;https://api-mig.tetrapak.com/orders/summary&quot;,
        &quot;orderingcard&quot;:&quot;https://api-mig.tetrapak.com/orders/history&quot;,
        &quot;orderdetails-parts&quot;:&quot;https://api-mig.tetrapak.com/orders/details/parts&quot;,
        &quot;orderdetails-packmat&quot;:&quot;https://api-mig.tetrapak.com/orders/details/packmat&quot;,
        &quot;financialstatement-filter&quot;:&quot;https://api-mig.tetrapak.com/finance/statements/summary&quot;,
        &quot;financialstatement-results&quot;:&quot;https://api-mig.tetrapak.com/finance/statements&quot;,
        &quot;financialstatement-invoice&quot;:&quot;https://api-mig.tetrapak.com/demo/cfe/invoices&quot;,
        &quot;maintenance-filter&quot;:&quot;https://api-mig.tetrapak.com/mock/materials/equipments/installations&quot;,
        &quot;maintenance-events&quot;:&quot;https://api-mig.tetrapak.com/orders/service/events&quot;,
        &quot;maintenancecard&quot;:&quot;https://api-mig.tetrapak.com/orders/service/events&quot;,
        &quot;documents-filter&quot;:&quot;https://api-mig.tetrapak.com/mock/materials/equipments/installations&quot;,
        &quot;documents&quot;:&quot;https://api-mig.tetrapak.com/techpub/search&quot;
    }" />

     {{!-- Header component --}}
        <sly data-sly-use.headerModel="/apps/customerhub/components/content/header/ux-model.js"
             data-sly-use.languageModel="/apps/customerhub/components/content/languageselector/ux-model.js"
             data-sly-use.cookie="/apps/customerhub/components/content/header/cookie.js"
             data-sly-use.headerLibs="/apps/customerhub/components/content/header/header-template.html"
             data-sly-call="${headerLibs.header_template @data=headerModel,langData=languageModel, cookie=cookie}" />
                  {{!-- Navigation component --}}
             <sly data-sly-use.leftnavigationModel="/apps/customerhub/components/content/leftnavigation/ux-model.js"
                     data-sly-use.leftnavigationLib="/apps/customerhub/components/content/leftnavigation/leftnavigation-template.html"
                     data-sly-call="${leftnavigationLib.leftnavigation_template @data=leftnavigationModel}" />

    <div class="tp-container">
        <div class="row">
            <div class="col-lg-9 tp-column__content">
                {{!-- Main content goes here --}}
                {{#if_notin "header,leftnavigation,languageselector,inactivitydialog" fsdId}}
                    {{#if_notin "error" fsdId}}
                        <h1 class="tp-page-title">{{fsdId}}</h1>
                    {{/if_notin}}
                    {{> body}}
                {{/if_notin}}
            </div>
            <div class="col-lg-3 tp-column__notif">
                {{!-- Notification panel goes here --}}
            </div>
        </div>
        <sly data-sly-use.idModel="/apps/customerhub/components/content/inactivitydialog/ux-model.js"
             data-sly-use.idLib="/apps/customerhub/components/content/inactivitydialog/inactivitydialog-template.html"
             data-sly-call="${idLib.inactivitydialog_template @data=idModel}" />
    </div>

    <sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}"
        data-sly-call="${clientLib.js @ categories='tp.customerhub.vendor'}" />
    <sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}"
        data-sly-call="${clientLib.js @ categories='tp.customerhub.global'}" />
</body>
</html>
