<!DOCTYPE html>
<html lang="en">
<sly data-sly-use.{{fsdId}}Model="ux-model.js" data-sly-use.lib="/apps/customerhub/content/components/{{fsdId}}/{{fsdId}}-template.html" />
<sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}">
    <head>
        <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="template" content="demoTemplate">
        <meta name="pageType" content="GenericPageType">
        <title>{{fsdId}} Component | UpFront</title>
        <sly data-sly-call="${clientLib.css @ categories='tp.customerhub.vendor'}" />
        <sly data-sly-call="${clientLib.css @ categories='tp.customerhub.default.en'}" />
    </head>
</sly>

<body>
    {{!-- Body --}}
    <div class="tp-container">
        {{!-- Header component --}}
        <sly data-sly-use.HeaderModel="/apps/customerhub/content/components/Header/ux-model.js"
             data-sly-use.HeaderLib="/apps/customerhub/content/components/Header/Header-template.html"
             data-sly-call="${HeaderLib.Header_template @data=HeaderModel}" />
        <div class="row">
            {{!-- Navigation component --}}
            <div class="col-lg-2 tp-column__sidenav">
                <sly data-sly-use.SideNavigationModel="/apps/customerhub/content/components/SideNavigation/ux-model.js"
                     data-sly-use.SideNavigationLib="/apps/customerhub/content/components/SideNavigation/SideNavigation-template.html"
                     data-sly-call="${SideNavigationLib.SideNavigation_template @data=SideNavigationModel}" />
            </div>
            <div class="col-lg-6 tp-column__content">
                {{!-- Main content goes here --}}
                {{#if_notin "Header,SideNavigation" fsdId}}
                    {{> body}}
                {{/if_notin}}
            </div>
            <div class="col-lg-4 tp-column__notif">
                {{!-- Notification panel goes here --}}
            </div>
        </div>
    </div>

    <sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}"
        data-sly-call="${clientLib.js @ categories='tp.customerhub.vendor'}" />
    <sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}"
        data-sly-call="${clientLib.js @ categories='tp.customerhub.global'}" />
</body>
</html>
