{{!-- Custom contacts template specific to Orders component --}}
<div class="tpmol-contacts{{#if baseClass}} {{baseClass}}__contacts{{/if}}">
    {{#each contacts}}
    <div class="tpmol-contacts__contact{{#if ../baseClass}} {{../baseClass}}__contact{{/if}}">
        <span class="tpmol-contacts__contact-name{{#if ../baseClass}} {{../baseClass}}__contact-name{{/if}}">{{name}}</span>
        <a class="tpmol-contacts__contact-tel{{#if ../baseClass}} {{../baseClass}}__contact-tel{{/if}}" href="tel:{{telNumber}}">{{telNumber}}</a>
        <a class="tpmol-contacts__contact-email{{#if ../baseClass}} {{../baseClass}}__contact-email{{/if}}" href="mailto:{{email}}">{{email}}</a>
    </div>
    {{/each}}
</div>
