<button type="{{#if buttonType}}{{buttonType}}{{else}}button{{/if}}" class="tpatom-button{{#if btnClasses}} {{btnClasses}}{{/if}}"{{#if dataLocator}} data-locator="{{dataLocator}}"{{/if}}>
    <span class="tpatom-button__text">{{i18n key=btnText}}</span>
    {{#if iconClass}}
        <i class="tpatom-button__icon {{iconClass}}"></i>
    {{/if}}
</button>
