<!DOCTYPE html>
<html lang="en">
<sly data-sly-use.{{fsdId}}Model="ux-model.js" data-sly-use.lib="/apps/publicweb/components/content/{{fsdId}}/{{fsdId}}-template.html" />
<sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}">
  <head>
    <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="template" content="demoTemplate">
    <meta name="pageType" content="GenericPageType">
    <title>{{fsdId}} Component | UpFront</title>
    <sly data-sly-call="${clientLib.css @ categories='tp.publicweb.vendor'}" />
    <sly data-sly-call="${clientLib.css @ categories='tp.publicweb.default.en'}" />
  </head>
</sly>

{{#if_in "header" fsdId}}
<style>
  .tp-pw-header__hero-image {
    margin-top: -9.28571rem;
    position: relative;
    z-index: 0;
  }
</style>
{{/if_in}}


<body>
<sly data-sly-use.headerModel="/apps/publicweb/components/content/header/ux-model.js"
     data-sly-use.headerLibs="/apps/publicweb/components/content/header/header-template.html"
     data-sly-call="${headerLibs.header_template @data=headerModel}" />
<div class="tp-container">
  {{> body}}
</div>
<sly data-sly-use.footerModel="/apps/publicweb/components/content/footer/ux-model.js"
     data-sly-use.footerLibs="/apps/publicweb/components/content/footer/footer-template.html"
     data-sly-call="${footerLibs.footer_template @data=footerModel}" />

<sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}"
     data-sly-call="${clientLib.js @ categories='tp.publicweb.vendor'}" />
<sly data-sly-test="${ {{fsdId}}Model.requestURI == {{fsdId}}Model.nodePathWithSelector} || {{fsdId}}Model.requestURI == {{fsdId}}Model.pagePathWithSelector}"
     data-sly-call="${clientLib.js @ categories='tp.publicweb.global'}" />
</body>
</html>
