<div class="tpatom-radio{{#if baseClass}} {{baseClass}}{{/if}}{{#if jsClass}} {{jsClass}}{{/if}}">
    <label class="tpatom-radio__label clearfix" for="tpatomRadio{{uniqueKey}}">
        <input
            type="radio"
            class="tpatom-radio__input float-left{{#if jsMyEquipmentFilter}} {{jsMyEquipmentFilter}}{{/if}}{{#if isCountry}} country-equipment-list{{/if}}"
            id="tpatomRadio{{uniqueKey}}"
            value="{{value}}"
            {{#if isChecked}}
                checked="checked"
            {{/if}}
            {{#if name}}
                name={{name}}
            {{/if}}
            {{#if disabled}}
                disabled
            {{/if}}
            {{#if autoLocatorCheckbox}}
                auto_locator={{autoLocatorCheckbox}}
            {{/if}}
            {{#eachData this}}
                {{@key}}="{{this}}"
            {{/eachData}} />
        <i class="tpatom-radio__icon icon icon-Tick float-left"></i>
        {{#if text}}
            <span class="tpatom-radio__text{{#if hideText}} sr-only{{/if}} js-radio__text" {{#if autoLocatorCheckboxText}}auto_locator={{autoLocatorCheckboxText}}{{/if}}>{{i18n key=text}}</span>
        {{/if}}
    </label>
</div>
