{{#if isError}}
    {{#if i18nKeys.errorMsg}}
        {{> atoms/error/error error=true message=i18nKeys.errorMsg}}
    {{else}}
        {{> atoms/error/error error=true message="cuhu.error.message"}}
    {{/if}}
{{else}}
    {{#if noData}}
        {{#if i18nKeys.noDataMsg}}
            {{> atoms/error/error message=i18nKeys.noDataMsg}}
        {{else}}
            {{> atoms/error/error message="cuhu.nodata.message"}}
        {{/if}}
    {{else}}
        <h2 class="tp-documents__equipment-heading">{{i18n key=i18nKeys.documentHeading replaceList=selectedFilter}}</h2>
        {{#each equipments}}
            {{> molecules/accordianTitle/accordianTitle baseClass="collapsed tp-documents__accordion" jsClass="js-documents__accordion" iconClass="icon-Chevron_Up"  data-toggle="collapse" text=titleWithCount data-target=equipmentId}}
            <div class="tp-documents__table js-documents__table collapse" id="equipment{{@index}}">
                <div class="tp-documents__document-type-heading">
                    {{i18n key=../i18nKeys.documentTypeLabel}}
                </div>
                <div class="tp-documents__documents-list" id="document-list-{{@index}}">
                    {{#each documents.docTypes}}
                        {{#if_noteq docCount 0}}
                            {{> molecules/accordianTitle/accordianTitle baseClass="collapsed tp-documents__accordion" jsClass="js-documents__accordion" iconClass="icon-Chevron_Up"  data-toggle="collapse" text=type data-target=docId}}
                            <div class="tp-documents__table collapse" id="document{{@../index}}{{@index}}" data-parent="#document-list-{{@../index}}">
                                {{#each documents}}
                                    <div class="tp-documents__document">
                                        {{> atoms/links/link/link text=name href=(concat ../../../techPubHost location) isExternal=true jsClass='js-documents__document' preIconClass="icon-Document" iconClass="icon-External_Link" data-doc-type=../type data-equipment=../../title}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if_noteq}}

                    {{/each}}
                </div>
            </div>
        {{/each}}
    {{/if}}
{{/if}}
