<h3 auto_locator="sectionTitle">{{i18n key=i18nKeys.equipmentInformation}}</h3>

{{#if isEquipUpdate}}
    <form class="tp-equipment-details__form js-equipment-details__form">
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.country}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/dropdown/dropdown options=countries name="country" jsClass="js-tp-contacts-filtering__site"}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.location}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/input/input defaultValue=equipData.location name="location" eleClasses="js-tp-my-equipment-filter-input" maxlength=300}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.site}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/input/input defaultValue=equipData.siteName name="siteName" eleClasses="js-tp-my-equipment-filter-input" maxlength=300}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.line}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/input/input defaultValue=equipData.lineName name="lineName" eleClasses="js-tp-my-equipment-filter-input" maxlength=300}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.equipmentStatus}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/dropdown/dropdown options=statuses name="equipmentStatus" jsClass="js-tp-my-equipment-filter-dropdown"}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.position}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/input/input defaultValue=equipData.position name="position" eleClasses="js-tp-my-equipment-filter-input" maxlength=300}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.equipmentDescription}}</div>
            <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">
                {{> atoms/input/input defaultValue=equipData.equipmentTypeDesc name="equipmentTypeDesc" eleClasses="js-tp-my-equipment-filter-input" maxlength=300}}
            </div>
        </div>
        <div class="tp-equipment-details__info-line">
            {{> atoms/textarea/textarea labelText="Comment to Tetra Pak" name="comments" eleClasses="js-tp-my-equipment-filter-input" maxlength=300}}
        </div>
        <div class="tp-equipment-details__action-wrap">
            {{> atoms/buttons/button/button text=i18nKeys.requestUpdates modifier="primary" disabled=true jsClass="js-equipment-details__req-update"}}

            {{> atoms/buttons/button/button text=i18nKeys.cancel modifier="secondary" jsClass="js-equipment-details__cancel"}}

            {{!-- <button type="button" class="tp-equipment-details__btn js-equipment-details__thanks">
                <span>thanks</span>
            </button> --}}
        </div>
    </form>
{{/if}}

{{#if isEquipView}}
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.country}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.countryName}}</div>
    </div>
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.location}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.location}}</div>
    </div>
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.site}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.siteName}}</div>
    </div>
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.line}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.lineName}}</div>
    </div>
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.equipmentStatus}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.equipmentStatus}}</div>
    </div>
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.position}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.position}}</div>
    </div>
    <div class="tp-equipment-details__info-line">
        <div class="tp-equipment-details__info-cell-1" auto_locator="equipmentDataKey">{{i18n key=i18nKeys.equipmentDescription}}</div>
        <div class="tp-equipment-details__info-cell-2" auto_locator="equipmentDataValue">{{equipData.equipmentTypeDesc}}</div>
    </div>
    <div class="tp-equipment-details__action-wrap">
        <button type="button" class="tp-equipment-details__btn js-equipment-details__update">
            <span>{{i18n key=i18nKeys.updateEquipmentInformation}}</span>
            <i class="icon icon-Edit"></i>
        </button>
    </div>
{{/if}}

{{#if isConfirmation}}
    <p class="tp-equipment-details__conf-title">
        <i class="icon icon-Circle_filled_Tick"></i>{{i18n key=i18nKeys.equipmentDetails-ThankYouHeading}}Thank you
    </p>
    <p>
        {{i18n key=i18nKeys.thankYouDescription}}
        We are now processing your request update. It can take a few days, in the meanwhile you will still see the old data.
    </p>
{{/if}}
