<div class="modal-dialog modal-dialog-centered tp-modal-dialog" auto_locator="{{autoLocatorModal}}">
    <div class="modal-content tp-my-equipment__modal-content tp-modal-content">
        <div class="modal-header tpmol-modal-header">
            <div class="tp-equipment-details__modal-header" auto_locator="headlineOverlay">
                <h2>{{i18n key=i18nKeys.equipmentDetails-modalConfirmHeader}}</h2>
                <p>
                    {{i18n key=i18nKeys.equipmentDetails-modalConfirmText}}
                </p>
            </div>
            <button type="button" auto_locator="closebtnOverlay"
                    class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class='modal-body tp-modal-body tp-my-equipment__modal-body'>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.country}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.country}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.location}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.location}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.site}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.siteName}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.line}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.lineCode}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.functionalLocationDesc}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.functionalLocationDesc}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.equipmentStatus}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.equipmentStatus}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.position}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.position}}</div>
            </div>
            <div class="tp-equipment-details__info-line">
                <div class="tp-equipment-details__info-cell-1">{{i18n key=i18nKeys.equipmentDescription}}</div>
                <div class="tp-equipment-details__info-cell-2">{{formData.equipmentTypeDesc}}</div>
            </div>
            <div class="js-equipment-details__error tp-equipment-details__error d-none">
                {{i18n key="cuhu.error.message"}}
                Failure of sent data, please try again
            </div>
        </div>
        <div class="modal-footer tpmol-modal-footer">
            {{> atoms/buttons/button/button text=i18nKeys.makeUpdates modifier="primary" baseClass="tp-equipment-details__req-make-update" jsClass="js-equipment-details__req-make-update"}}
            {{> atoms/buttons/button/button text=i18nKeys.cancel modifier="secondary" baseClass="tp-equipment-details__conf-cancel" jsClass="js-equipment-details__conf-cancel"}}
        </div>
    </div>
</div>
