{{#if isError}}
    {{> atoms/error/error error=true message="cuhu.error.message"}}
{{else}}
    {{#if noData}}
        {{> atoms/error/error message="cuhu.nodata.message"}}
    {{else}}
        <div class="tp-financials-summary__statement">
            <h3>{{i18n key=summaryHeadingI18n}}: {{dateRange}}</h3>
            <div class="tp-financials-summary__table">
                {{> molecules/table/table baseClass="tp-financials-summary__statement" jsClass="js-financials-summary__statement" list=summary headings=summaryHeadings}}
            </div>
        </div>
        <div class="tp-financials-summary__documents">
            <h3>{{i18n key=documentHeadingI18n}}</h3>
            {{#each documents}}
                {{#if docData}}
                    {{> molecules/accordianTitle/accordianTitle baseClass="collapsed tp-financials-summary__accordion" jsClass="js-financials-summary__accordion" iconClass="icon-Chevron_Up" text=title rightContent=totalAmount data-target=docId data-toggle="collapse" }}
                    <div class="tp-financials-summary__table js-financials-summary__table collapse" id="document{{@index}}">
                        {{> molecules/table/table baseClass="tp-financials-summary__documents" jsClass="js-financials-summary__documents" list=docData headings=docHeadings tableSummary=totalAmount
                        data-sales-office=salesOffice}}
                    </div>
                {{/if}}
            {{/each}}
        </div>
        <div class="tp-financials-summary__btn-container">
            {{> atoms/buttons/button/button
                text=createExcelBtnI18n
                modifier="primary"
                className="tp-financials-summary__create-excel js-financials-summary__create-excel"
                iconClass="icon-Excel"
                data-status=params.status
                data-document-type=params.[document-type]
                data-invoice-date-from=params.[invoicedate-from]
                data-invoice-date-to=params.[invoicedate-to]
                data-customer-key=params.customerkey
                data-search=params.search
            }}
            {{> atoms/buttons/button/button
                text=createPdfBtnI18n
                modifier="primary"
                className="tp-financials-summary__create-pdf js-financials-summary__create-pdf"
                iconClass="icon-PDF"
                data-status=params.status
                data-document-type=params.[document-type]
                data-invoice-date-from=params.[invoicedate-from]
                data-invoice-date-to=params.[invoicedate-to]
                data-customer-key=params.customerkey
                data-search=params.search
            }}
        </div>
    {{/if}}
{{/if}}
