<div class="js-financial-statement__filter-section d-none">
    {{> molecules/calendar/calendarModal this}}
    <h2 class="tp-financial-statement__select-customer-heading">{{i18n key=this.statementOfAccount}}</h2>
    <h3 class="tp-financial-statement__select-customer-label">{{i18n key=this.findCustomer}}</h3>
    {{#if isError}}
        {{> atoms/error/error error=true message="cuhu.error.message"}}
    {{else}}
        {{#if customerData}}
            {{> atoms/dropdown/dropdown options=this.customerData name='selectCustomer' label=this.selectCustomerLabel wrapClasses="tp-financial-statement__select-box-wrapper" eleClasses="js-financial-statement__find-customer"}}
            <div class="tp-financial-statement__customer-detail js-financial-statement__customer-detail">
                {{> molecules/financialStatement/financialAddressDetail this}}
            </div>
            <h3 class="tp-financial-statement__select-customer-label">{{i18n key=this.accountService}}</h3>
            <form class="tp-financial-statement__filters js-financial-statement__filters js-prevent-default form-group">
                <div class="tp-financial-statement__status-calender-container">
                    <div class="tp-financial-statement__status-container float-lg-left">
                        {{> atoms/dropdown/dropdown options=this.status name="status" label=this.selectStatusLabel wrapClasses="tp-financial-statement__status-wrapper" eleClasses="js-financial-statement__status"}}
                    </div>
                    <div class="tp-financial-statement__date-range-container">
                        {{> atoms/input/input iconClass="icon-Calendar2" defaultValue=this.currentDate name="daterange" label=this.selectDateRangeLabel wrapClasses="tp-financial-statement__date-range-wrapper" eleClasses="js-financial-statement__date-range" dataLocator="calendar-picker" readonly=true }}
                    </div>
                </div>
                <div class="tp-financial-statement__search-container">
                    <div class="tp-financial-statement__document-type-container">
                        {{> atoms/dropdown/dropdown options=this.documentType name="document-type" label=this.selectDocumentTypeLabel wrapClasses="tp-financial-statement__document-type-wrapper" eleClasses="js-financial-statement__document-type"}}
                    </div>
                    <div class="tp-financial-statement__document-number-container">
                        <div class="tp-financial-statement__document-number-wrapper">
                            {{> atoms/input/input name="search" label=this.searchInputLabel eleClasses="js-financial-statement__document-number" dataLocator="statement-input" placeholder=this.placeholderForDocumentNumber }}
                        </div>
                    </div>
                    <div class="tp-financial-statement__buttons-container">
                        <div class="tp-financial-statement__search-btn-container float-lg-left">
                            {{> atoms/buttons/button/button text=this.searchButtonText modifier="primary" className="tp-financial-statement__submit-btn" jsClass="js-financial-statement__submit" buttonType="submit" iconClass="icon-Chevron_Right" dataLocator="statement-financial-btn" }}
                        </div>
                        <div class="tp-financial-statement__reset-btn-container">
                            {{> atoms/buttons/button/button text=this.resetButtonText modifier="secondary" className="tp-financial-statement__reset-btn" iconClass="icon-Close" jsClass="js-financial-statement__reset"  dataLocator="statement-reset-btn" }}
                        </div>
                    </div>
                </div>
            </form>
        {{else}}
            {{> atoms/error/error message="cuhu.nodata.message"}}
        {{/if}}
    {{/if}}
</div>
