<div class="{{#if baseClass}}{{baseClass}}__info-data{{/if}}">
    <div class="{{#if baseClass}}{{baseClass}}__info-title{{/if}}"> {{i18n key=label}} </div>
    <div class="{{#if baseClass}}{{baseClass}}__info-text{{/if}}"> {{data}} </div>
</div>
