{{#each contacts}}
    <div class="tp-maintenance-filtering__contact-col col-lg-6 text-center">
        <div class="tp-maintenance-filtering__contact-icon">
            <i class="icon-TetraPak"></i>
        </div>
        <div class="tp-maintenance-filtering__contact-name semi-bold">{{firstName}} {{lastName}}</div>
        <div>{{type}}</div>
        <div class="js-maintenance-filtering__contact-mail" data-type="{{type}}"><a href="mailTo:{{email}}">{{email}}</a></div>
        <div class="js-maintenance-filtering__contact-phone" data-type="{{type}}"><a href="tel:{{phone}}">{{phone}}</a></div>
    </div>
{{/each}}
