{{#each contacts}}
    <div class="tp-maintenance-filtering__contact-col col-lg-6 text-center">
        <div class="tp-maintenance-filtering__contact-icon">
            <i class="icon-TetraPak"></i>
        </div>
        <div class="tp-maintenance-filtering__contact-name semi-bold">{{firstName}} {{lastName}}</div>
        <div>{{type}}</div>
        <div class="js-maintenance-filtering__contact-mail"><a href="mailTo:{{email}}" data-type="{{type}}">{{email}}</a></div>
        <div class="js-maintenance-filtering__contact-phone"><a href="tel:{{phone}}" data-type="{{type}}">{{phone}}</a></div>
    </div>
{{/each}}
