<div class="tp-aip__accordion" id="tp-aip-trainings__learning-accordion">
    {{#if learningHistoryData.diploma.length}}
        <div class="tp-aip__acc-item">
            <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc1" aria-expanded="false">
                <span>{{i18n key=i18nKeys.diplomatext}}</span>
                <i class="icon icon-Arrow_Down"></i>
            </button>
            <div id="tp-aip-trainings__learning-acc1" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
                <div class="tp-aip__acc-item-body">
                    <div class="tp-aip__table-wrap">
                        <table class="tp-aip__table">
                            <thead class="tp-aip__thead-primary">
                                <tr>
                                    <th>{{i18n key=i18nKeys.usertext}}</th>
                                    <th>{{i18n key=i18nKeys.itemtext}}</th>
                                    <th>{{i18n key=i18nKeys.completiondatetext}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each learningHistoryData.diploma}}
                                    <tr>
                                        <td>{{this.account.displayName}}</td>
                                        <td>{{this.labName}}</td>
                                        <td>{{this.completionDateTime}}</td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{#if learningHistoryData.accredited.length}}
        <div class="tp-aip__acc-item">
            <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc2" aria-expanded="false">
                <span>{{i18n key=i18nKeys.accreditedtext}}</span>
                <i class="icon icon-Arrow_Down"></i>
            </button>
            <div id="tp-aip-trainings__learning-acc2" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
                <div class="tp-aip__acc-item-body">
                    <div class="tp-aip__table-wrap">
                        <table class="tp-aip__table">
                            <thead class="tp-aip__thead-primary">
                            <tr>
                                <th>{{i18n key=i18nKeys.usertext}}</th>
                                <th>{{i18n key=i18nKeys.itemtext}}</th>
                                <th>{{i18n key=i18nKeys.completiondatetext}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each learningHistoryData.diploma}}
                                <tr>
                                    <td>{{this.account.displayName}}</td>
                                    <td>{{this.labName}}</td>
                                    <td>{{this.completionDateTime}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    {{#if learningHistoryData.authenticated.length}}
        <div class="tp-aip__acc-item">
            <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc3" aria-expanded="false">
                <span>{{i18n key=i18nKeys.authenticatedtext}}</span>
                <i class="icon icon-Arrow_Down"></i>
            </button>
            <div id="tp-aip-trainings__learning-acc3" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
                <div class="tp-aip__acc-item-body">
                    <div class="tp-aip__table-wrap">
                        <table class="tp-aip__table">
                            <thead class="tp-aip__thead-primary">
                            <tr>
                                <th>{{i18n key=i18nKeys.usertext}}</th>
                                <th>{{i18n key=i18nKeys.itemtext}}</th>
                                <th>{{i18n key=i18nKeys.completiondatetext}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each learningHistoryData.diploma}}
                                <tr>
                                    <td>{{this.account.displayName}}</td>
                                    <td>{{this.labName}}</td>
                                    <td>{{this.completionDateTime}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</div>