<div class="tp-aip__acc-item-body">
    <div class="tp-aip__table-wrap">
        <table class="tp-aip__table">
            <thead class="tp-aip__thead-primary">
            <tr>
                <th>{{i18n key=i18nKeys.activeLicense.firstName}}</th>
                <th>{{i18n key=i18nKeys.activeLicense.surname}}</th>
                <th>{{i18n key=i18nKeys.activeLicense.licenceKey}}</th>
                <th>{{i18n key=i18nKeys.activeLicense.platform}}</th>
                <th>{{i18n key=i18nKeys.activeLicense.startDate}}</th>
                <th>{{i18n key=i18nKeys.activeLicense.endDate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Andreas</td>
                <td>Grönwall-Mikkelsen</td>
                <td>1234567890000</td>
                <td>A123456-0123456</td>
                <td>2020-01-01</td>
                <td>2020-01-01</td>
                <td>
                    {{> atoms/buttons/button/button
                            modifier="transparent"
                            data-first-name="Andreas"
                            data-surname="Grönwall-Mikkelsen"
                            data-platform="A123456-0123456"
                            text=i18nKeys.activeLicense.withdrawBtn
                            baseClass="tp-aip-licenses-active__btn"
                            jsClass="js-tp-aip-licenses-active__withdraw"}}
                </td>
            </tr>


            <tr>
                <td>Andreas</td>
                <td>Grönwall-Mikkelsen</td>
                <td>1234567890000</td>
                <td>A123456-0123456</td>
                <td>2020-01-01</td>
                <td>2020-01-01</td>
                <td>
                    {{> atoms/buttons/button/button modifier="transparent" text="Withdraw" baseClass="tp-aip-licenses-active__btn" jsClass="js-tp-aip-licenses-active__withdraw"}}
                </td>
            </tr>
            <tr>
                <td>Andreas</td>
                <td>Grönwall-Mikkelsen</td>
                <td>1234567890000</td>
                <td>A123456-0123456</td>
                <td>2020-01-01</td>
                <td>2020-01-01</td>
                <td>
                    {{> atoms/buttons/button/button modifier="transparent" text="Withdraw" baseClass="tp-aip-licenses-active__btn" jsClass="js-tp-aip-licenses-active__withdraw"}}
                </td>
            </tr>
            <tr>
                <td>Andreas</td>
                <td>Grönwall-Mikkelsen</td>
                <td>1234567890000</td>
                <td>A123456-0123456</td>
                <td>2020-01-01</td>
                <td>2020-01-01</td>
                <td>
                    {{> atoms/buttons/button/button modifier="transparent" text="Withdraw" baseClass="tp-aip-licenses-active__btn" jsClass="js-tp-aip-licenses-active__withdraw"}}
                </td>
            </tr>
            <tr>
                <td>Andreas</td>
                <td>Grönwall-Mikkelsen</td>
                <td>1234567890000</td>
                <td>A123456-0123456</td>
                <td>2020-01-01</td>
                <td>2020-01-01</td>
                <td>
                    {{> atoms/buttons/button/button modifier="transparent" text="Withdraw" baseClass="tp-aip-licenses-active__btn" jsClass="js-tp-aip-licenses-active__withdraw"}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
