<div class="tp-rebuilding-details__details-row">
    <h4 class="tp-rebuilding-details__details-row-title" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentDetails}}</h4>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">Test</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
         <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
            <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
    </div>
</div>
<div class="tp-rebuilding-details__details-row">
    <h4 class="tp-rebuilding-details__details-row-title" auto_locator="subsectionTitle">{{i18n key=i18nKeys.additionalDetails}}</h4>
    <div class="row">
       <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
    <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
   <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="row tp-rebuilding-details__details-line">
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{i18n key=i18nKeys.equipmentType}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
                <div class="col-lg-4 col-md-4 col-sm-4 tp-rebuilding-details__details-cell" auto_locator="subsectionTitle">{{equipData.equipmentType}} | {{equipData.equipmentTypeDesc}}</div>
            </div>
        </div>
    </div>
</div>