<div class="tp-tech-pub__table-wrap">
    <table class="tp-tech-pub__table">
        <thead class="tp-tech-pub__thead-primary">
        <tr>
            {{#if isLineStep}}
                <th>
                    Line Step = true
                </th>
            {{else}}
                <th>
                    {{#if isCountriesStep}}
                        Country
                    {{/if}}

                    {{#if isCountryStep}}
                        Customer
                    {{/if}}

                    {{#if isCustomerStep}}
                        Line
                    {{/if}}
                </th>
            {{/if}}
        </tr>
        </thead>
        <tbody>
            {{#each folderData}}
            <tr>
                <td>
                    {{#if ../isCountriesStep}}
                        <button type="button"
                                class="tp-tech-pub__folder-btn js-tech-pub__folder-btn"
                                data-current-step="{{../currentStep}}"
                                data-next-folder="country"
                                data-country-id="{{this.countryCode}}"
                                data-country-name="{{this.countryName}}">
                            {{this.countryName}}
                        </button>
                    {{/if}}

                    {{#if ../isCountryStep}}
                        <button type="button"
                                class="tp-tech-pub__folder-btn js-tech-pub__folder-btn"
                                data-current-step="{{../currentStep}}"
                                data-next-folder="customer"
                                data-customer-number="{{this.customerNumber}}"
                                data-customer="{{this.customer}}">
                            {{this.customer}}
                        </button>
                    {{/if}}

                    {{#if ../isCustomerStep}}
                        <button type="button"
                                class="tp-tech-pub__folder-btn js-tech-pub__folder-btn"
                                data-current-step="{{../currentStep}}"
                                data-next-folder="site"
                                data-line-code="{{this.lineCode}}"
                                data-line-description="{{this.lineDescription}}">
                            {{this.lineDescription}}
                        </button>
                    {{/if}}

                    {{#if ../isLineStep}}
                        Documents
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

