{{#if labelText}}
    <label class="tpatom-input-box__text" for="{{name}}">{{i18n key=labelText}}</label>
{{/if}}
<div class="tpatom-input-box{{#if wrapClasses}} {{wrapClasses}}{{/if}}">
    <input type="{{#if type}}{{type}}{{else}}text{{/if}}" name="{{name}}" id="{{name}}" class="tpatom-input-box__input{{#if eleClasses}} {{eleClasses}}{{/if}}"
        {{#if dataLocator}}
            data-locator="{{dataLocator}}"
        {{/if}}
        {{#if readonly}}
            readonly="readonly"
        {{/if}}
        {{#if defaultValue}}
            value="{{i18n key=defaultValue}}"
        {{/if}}
        {{#if label}}
            aria-label="{{i18n key=label}}"
        {{/if}}
        {{#if placeholder}}
            placeholder="{{i18n key=placeholder}}"
        {{/if}}
        {{#eachData this}}
            {{@key}}="{{this}}"
        {{/eachData}}
    />
    {{#if iconClass}}
        <i class="tpatom-input-box__icon {{iconClass}}"></i>
    {{/if}}
</div>
