{{#if iconClass}}<div class="tpatom-input form-element{{#if wrapClasses}} {{wrapClasses}}{{/if}}">{{/if}}
    <input type="text" name="{{name}}" class="form-control{{#if eleClasses}} {{eleClasses}}{{/if}}"
        {{#if dataLocator}}
            data-locator="{{dataLocator}}"
        {{/if}}
        {{#if readonly}}
            readonly="readonly"
        {{/if}}
        value="{{#if defaultValue}}{{defaultValue}}{{/if}}"
        {{#if label}}
            aria-label="{{label}}"
        {{/if}}
        {{#if placeholder}}
            placeholder="{{placeholder}}"
        {{/if}}
    />
    {{#if iconClass}}
        <i class="form-element__icon {{iconClass}}"></i>
    {{/if}}
{{#if iconClass}}</div>{{/if}}
