<div class="tpatom-dropdown form-element{{#if wrapClasses}} {{wrapClasses}}{{/if}}">
    <select name="{{name}}" class="form-control{{#if eleClasses}} {{eleClasses}}{{/if}}"{{#if dataLocator}} data-locator="{{dataLocator}}"{{/if}}{{#if label}} aria-label="{{label}}"{{/if}}>
        {{#if defaultValue}}
            <option value="">{{defaultValue}}</option>
        {{/if}}
        {{#each options}}
            <option value="{{this.key}}">{{#each this.desc}}{{#unless @first}}, {{/unless}}{{this}}{{else}}{{this.desc}}{{/each}}</option>
        {{/each}}
    </select>
    <i class="form-element__icon icon-Chevron_Down"></i>
</div>