<div class="tpatom-dropdown {{#if className}} {{className}}{{/if}}">
{{#if labelText}}<span class="tpatom-dropdown__text js-dropdown__text" id="tpatom-dropdown-{{name}}">{{i18n key=labelText}}</span>{{/if}}
    <div class="dropdown js-custom-dropdown">
        <button
            class="btn dropdown-toggle dropdown-btn  text-left js-dropdown-btn{{#if jsClass}} {{jsClass}}{{/if}}"
            type="button"
            id="{{name}}"
            data-key="{{#if defaultKey}}{{defaultKey}}{{else}}{{options.[0].key}}{{/if}}"
            data-toggle="dropdown"
            data-display="static"
            aria-haspopup="true"
            aria-expanded="false"
            {{#if labelText}}
                aria-labelledby="tpatom-dropdown-{{name}}">
            {{/if}}
            {{#if defaultValue}}
               <span>{{i18n key=defaultValue}}</span>
            {{else}}
                <span>{{i18n key=options.[0].desc}}</span>
            {{/if}}
        </button>
        <i class="tpatom-dropdown__icon icon-Chevron_Down"></i>
        <ul class="dropdown-menu" aria-labelledby="{{name}}" role="menu">
            {{#each options}}
                <li role="presentation"> <a href="#" role="menuitem" class="dropdown-item js-custom-dropdown-li {{#if ../liClassName}} {{../liClassName}}{{/if}}" data-key="{{this.key}}">{{i18n key=this.desc}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>
